*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #F1F1F1;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.3;
}

a {
    color: inherit;
    text-decoration: none;
}

.topBar {
    background: #2C3E50;
    color: #FFF;
}

.topBar a {
    text-decoration: none;
}

.topBar_logo {
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 11px 0;
}

.topBar_nav {
    text-align: center;
    padding-bottom: 16px;
}

.topBar_nav a {
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color .3s;
}

.topBar_nav a:hover,
.topBar_nav a.active {
    color: #FFF;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    max-width: 1080px;
}

.main {
    margin-bottom: 20px;
}

.site {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sideBar {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sideBar a::before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    margin-top: -2px;
    margin-right: 20px;
    vertical-align: middle;
    background: url(./img/home.svg) center center / contain no-repeat;
    transition: opacity .3s;
    opacity: .67;
}

.sideBar .message-icon::before {
    background: url(./img/messages.svg) center center / contain no-repeat;
}

.sideBar .evenement-icon::before {
    background: url(./img/calendar.svg) center center / contain no-repeat;
}

.sideBar .group-icon::before {
    background: url(./img/groups.svg) center center / contain no-repeat;
}


.sideBar a {
    display: block;
    text-decoration: none;
    padding: 0.6em 0;
    transition: .3s;
    width: 50%;
    border: 1px solid transparent;
    padding-left: 10px;
}

.sideBar a:hover::before,
.sideBar a.active::before {
    opacity: 1;
}

.sideBar a.active,
.sideBar a:hover {
    color: #000;
    border: 1px solid #D8D8D8;
    background: #FFF;
    font-weight: bold;
    border-radius: 3px;
}

.card {
    border: 1px solid #D8D8D8;
    background: #FFF;
    border-radius: 3px;
    margin-bottom: 15px;
}

.card:last-child {
    margin-bottom: 0;
}

.card-header {
    padding: 10px;
    position: relative;
}

.card-header-avatar {
    padding-left: 65px;
}

.card-avatar {
    position: absolute;
    top: 50%;
    left: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.card-title {
    font-weight: bold;
    color: #000;
    margin: 0 0 5px 0;
    font-size: 18px;
}

.card-date {
    color: rgba(0, 0, 0, .38);
    font-size: 12px;
}

.card-body {
    padding: 0 10px 20px 10px;
}

.card-body .full-width {
    display: block;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;

}

.card-body p:first-child {
    margin-top: 0;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-footer {
    background: #FFF;
    border-top: 1px solid #D8D8D8;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    color: #BDBDBD;
}

.card-footer a {
    text-decoration: none;
}

.card-footer a:hover {
    text-decoration: underline;
}

.card-like::before,
.card-comments::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./img/pouce.svg) center center / 20px 18px no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.card-comments::before {
    background: url(./img/comment.svg) center center / 18px 17px no-repeat;
}

.sideBar-title {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 18px;
}

.sideBar-title::after {
    content: "";
    height: 1px;
    display: block;
    background-color: #000;
    width: 100%;
    margin-top: 4px;
}

.friend {
    margin: 14px 0;
    display: flex;
}

.friend-avatar {
    width: 73px;
    height: 73px;
    flex: none;
    margin-right: 10px;
}

.friend-name {
    display: block;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.friend-connections {
    color: rgba(0, 0, 0, .38);
    font-size: 12px;
}

.friend-body {
    display: flex;
    flex-direction: column;
}

.friend-add {
    font-size: 12px;
    color: #000;
    margin-top: auto;
}

.friend-add::before {
    display: inline-block;
    content: "";
    background: url(./img/useradd.png) center center / 18px 13px no-repeat;
    width: 18px;
    height: 13px;
    vertical-align: middle;
    margin-right: 5px;
}

@media only screen and (min-width: 525px) {
    .topBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }

    .topBar_logo,
    .topBar_nav {
        padding: 0;
    }

    .topBar_nav a {
        margin: 0 20px;
    }
}

@media only screen and (min-width: 950px) {
    .site {
        display: flex;
    }

    .sideBar {
        width: 180px;
        flex: none;
        display: block;
    }

    .sideBar a {
        width: 100%;
    }

    .main {
        margin: 0 30px;
        width: 100%;
    }

    .aside {
        width: 310px;
        flex: none;
    }
}