*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #F1F1F1;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.3;
}

a {
    color: inherit;
}

.topBar {
    background: #2C3E50;
    color: #FFF;
}

.topBar a {
    text-decoration: none;
}

.topBar_logo {
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 11px 0;
}

.topBar_nav {
    text-align: center;
    padding-bottom: 16px;
}

.topBar_nav a {
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color .3s;
}

.topBar_nav a:hover,
.topBar_nav a.active {
    color: #FFF;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    max-width: 1080px;
}

.site {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sideBar {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sideBar a::before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    margin-top: -2px;
    margin-right: 20px;
    vertical-align: middle;
    background: url(./img/home.svg) center center / contain no-repeat;
    transition: opacity .3s;
    opacity: .67;
}

.sideBar .message-icon::before {
    background: url(./img/messages.svg) center center / contain no-repeat;
}

.sideBar .evenement-icon::before {
    background: url(./img/calendar.svg) center center / contain no-repeat;
}

.sideBar .group-icon::before {
    background: url(./img/groups.svg) center center / contain no-repeat;
}


.sideBar a {
    display: block;
    text-decoration: none;
    padding: 0.6em 0;
    transition: .3s;
    width: 50%;
    border: 1px solid transparent;
    padding-left: 10px;
}

.sideBar a:hover::before,
.sideBar a.active::before {
    opacity: 1;
}

.sideBar a.active,
.sideBar a:hover {
    color: #000;
    border: 1px solid #D8D8D8;
    background: #FFF;
    font-weight: bold;
    border-radius: 3px;
}

@media only screen and (min-width: 525px) {
    .topBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }

    .topBar_logo,
    .topBar_nav {
        padding: 0;
    }

    .topBar_nav a {
        margin: 0 20px;
    }
}

@media only screen and (min-width: 950px) {
    .site {
        display: flex;
    }

    .sideBar {
        width: 180px;
        flex: none;
        display: block;
    }

    .sideBar a {
        width: 100%;
    }

    .main {
        margin: 0 30px;
        width: 100%;
    }

    .aside {
        width: 310px;
        flex: none;
    }
}